@charset "utf-8";
#header {font-family: "MuseoSans_Thin";position: relative;z-index: 11;}
#header .main{position:relative;width:100%;height:47px;line-height:48px;background:#e1e3e4;border-bottom:1px solid #d2d6d5;border-top:1px solid #d2d6d5;z-index:200;-webkit-transition:background .25s ease-out;transition:background .25s ease-out}
#header ul.right>li{float:left}
#header div.top{color:#a6abab;background:#f4f4f4;position:relative;width:100%;height:47px;line-height:48px;z-index:201;-webkit-transition:background .25s ease-out;transition:background .25s ease-out}
#header div.top .slogan{float:left;margin:0;margin-left:20px;font-size:15px;font-weight:normal;line-height:47px}
#header div.top li.login a{margin:0 20px 0 10px;color:#313131;text-decoration:underline;font-weight:bold}
#header div.top li.login a:hover{text-decoration:none}
#header div li.logued figure{position:relative;float:left;margin:6px 6px 0 0;cursor:pointer}
#header div li.logued figure .count{position:absolute;top:-2px;right:0;min-width:13px;height:13px;margin:0;line-height:13px;text-align:center;font-size:10px;text-indent:-0.5px;color:#fff;background-color:#df6c4f;z-index:1;-webkit-transition:background .25s ease-out;transition:background .25s ease-out}
#header nav li.logued figure:hover .count{background-color:#313131}
#header nav li.logued figure img{width:35px;height:35px}
#header nav li.logued a,#header nav li.logued span{float:left;margin-right:10px;color:#a6abab;cursor:pointer}
#header nav li.logued a:last-child{margin-right:0}
#header nav li.logued a.name:hover{text-decoration:underline}
#header nav li.logued a.logout:hover{text-decoration:none; top:auto}

#header div.main{height:66px;line-height:67px;font-size:14px}
.logo{display:inline-block;width:150px;height:43px;background:url(/img/images/pcbway/20140217_pc_sprite.png) no-repeat 0 -208px;}
.logo{float:left;margin:12px 0 0 20px}
.logo a{display:block;height:43px;text-indent:-34em;overflow:hidden}
#header div.main ul.menui{position:absolute;right:0}
ul.menui li{position:relative}ul.menui li:first-child{border-left:none}ul.menui>li{border-left:1px solid #d2d6d5;text-transform:uppercase}
ul.menui li a{display:block;height:66px;padding:0 15px;color:#313131;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}
ul.menui>li.active a{font-family:'MuseoSans_Fat'}
#header div.main ul a:hover{background-color:#f4f4f4;color:#919191}
#header div.main ul li.submit a{position:relative;width:186px;height:68px;padding:0;background-image:none;background-color:#3c948b;text-align:center;color:#fff;line-height:68px;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}#header div.main ul li.submit a:hover{background-color:#3c948b;opacity:.75}
#header div.main ul li.search{position:relative;top:-1px;border-left:none}
#header div.main ul li.search{position:relative;display:block;width:66px;height:68px;background:#343434;text-indent:-23em;cursor:pointer;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}
#header div.main ul li.search:hover{opacity:.75}

#header div.main ul li.submit {position: relative;top: -1px;}
#header div.main ul li.search span.bt-search{display:block; background-position:-1px -1500px; width:20px; height:20px; top:40%; left:40%;position:absolute;}
.search-text{visibility:hidden;position:absolute;top:-1px;right:0;width:252px;height:68px;opacity:0;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.search-text.visible{visibility:visible;opacity:1}
.search-text .text{ line-height:68px;width:100%;height:68px;padding:0 90px 0 20px;background-color:#343434;color:#fff;border:0;font-family:'MuseoSans_Thin';-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.search-text .bt-search{display:block; background-position:-1px -1500px; width:20px; height:20px; top:40%; right:20px;position:absolute;border:0;cursor:pointer;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}
.search-text .text:focus,.search-text .bt-search:focus{outline:0}
/*==footer style1==*/
/*===============footer style2======================*/
#footer {
    clear: both;
    color: #444;
    margin-top: 1px;
    overflow: hidden;
    position: relative;
}#footer.style2 {
    background: none repeat scroll 0 0 transparent;
}#footer.style2 div.footer {
    background: none repeat scroll 0 0 transparent;
    font-size: 14px;
    overflow: hidden;
    padding: 30px 20px 10px;
}#footer .copy {
    background: url("../images/logo-pcbway.gif") no-repeat scroll 0 0;
    padding-left: 60px;
}#footer div.footer li {
    border-right: 1px solid #333;
    float: left;
    font-family: "MuseoSans_Fat";
    margin: 0 15px 10px 0;
    padding-right: 15px;
    text-transform: uppercase;
}#footer.style2 div.footer li {
    border-color: #d2d6d5;
}#footer div.footer a {
    color: #555;
}#footer div.footer li a:hover{
    color: #888;
}



#footer div.footer {
    background: none repeat scroll 0 0 #202121;
    font-size: 14px;
    overflow: hidden;
    padding:30px 20px 10px;
}#footer div.footer li{float:left;margin:0 15px 10px 0;padding-right:15px;text-transform:uppercase;font-family:'MuseoSans_Fat';border-right:1px solid #333}#footer div.footer li:last-child{margin-right:0;padding-right:0;border-right:0}#footer div.footer li a:hover{color:#888}


/**/
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('../images/overlay.png')}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}
.fancybox-opened {
    z-index: 8030;
}
.fancybox-skin{position:relative;background:#e4e6e5;text-shadow:none; width: auto; height: auto;}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.3);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.3);box-shadow:0 10px 25px rgba(0,0,0,0.3)}.fancybox-outer,.fancybox-inner{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}

.fancybox-outer, .fancybox-inner {
    position: relative;
}.wrapper {
    height: 380px;
    overflow: hidden;
}.box_login {
    border-bottom: 1px solid #d5d7d6;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
}
.box_login .heading-title {
    font-family: "MuseoSans_Fat";
    font-size: 30px;
	font-weight: normal;
    line-height: 170%;
    margin-bottom: 23px;
}
.box_login .left {
    float: left;
    width: 300px;
}
.box_login p {
    margin-bottom: 7px;
	line-height:190%;
}.box_login .left .text-input {
    height: 46px;
    width: 268px;
}
.box_login .remember {
    padding: 8px 0;
}
.box_login .left p .button {
    height: 46px;
    line-height: 46px;
    padding: 0 30px;
}
.box_login .right p.or {
    padding-left: 41px;
}.box_login .socialconnect {
    border-left: 1px solid #d5d7d6;
    float: right;
    padding-left: 41px;
    text-align: right;
}
.box_login .right {
    float: right;
	width:350px;
}.box_login .socialconnect a {
    margin-bottom: 7px;
}.fancybox-outer .box_login .socialconnect a { height:46px;line-height:46px;}
.fancybox-outer .box_login .socialconnect a:before{ height:46px;line-height:46px;}
.fancybox-outer .box_login .socialconnect a:after{ height:46px;line-height:46px;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/bg-sprite.png");
}.fancybox-close {
    cursor: pointer;
    height: 43px;
    position: absolute;
    right: -18px;
    top: -18px;
    width: 43px;
    z-index: 8040;
}.fancybox-close:hover{background-position:0 -43px}
.pull-right li {
    margin-left: 20px;
    margin-right: 0;
}
.pull-right .nav-icon-link a {
    background-color: #d7d7d7;
    border-radius: 1px;
    height:20px;
    padding-left: 3px;
    padding-top:5px;
	padding-bottom:4px;
    position: relative;
    width: 30px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	line-height:20px;
}.pull-right .nav-icon-link{ margin-top:11px; line-height:0;}
.pull-right .nav-icon-link a:hover{ background:#e6e6e6;}
.pull-right .nav-icon-link span.icon-nav-link {
    color: #6b6b6b;
    font-style: italic;
    padding: 22px 0 2px 22px;
}.pull-right .nav-icon-link .icon-my-messages,.pull-right .nav-icon-link .icon-my-feed {
    display: block;
}.pull-right .nav-icon-link .icon-my-feed {
    background-position: 0 -24030px;
}
.pull-right .nav-icon-link .my-messages, .pull-right .nav-icon-link .my-feed {
    display: none;
}.pull-right .nav-icon-link .unread-count {
    background: none repeat scroll 0 0 #bc5d5d;
    border-radius: 1px;
    color: #000000;
    display: none;
    font-size: 1rem;
    line-height: 10px;
    padding:2px 4px 0;
    text-align: center;
    width:25px; font-size:11px; font-family:Arial;
}.pull-right .nav-icon-link .unread-count {
    left: 0;
    position: absolute;
    top: -13px;
}.pull-right .nav-icon-link .icon-my-messages {
    background-position: 0 -24330px;
}.nav .dropdown {
    position: relative;
}
.account .user-account {
    margin-left: -4px;
    margin-top: -4px;
    padding:7px 3px 3px;
	display:block;
	width: 30px;
	height: 30px;
	border:1px solid #e1e3e4;
}
.account .user-name {
    display: none;
}.account .user-image {
    display: block;
    height: 30px;
    margin-top: -4px;
    width: 30px;
}.dropdown-menu {
    list-style: outside none none;
    margin: 0 0 0 10px;
    padding: 0;
    z-index: 1040;
}.dropdown-menu {
    background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);background-clip:padding-box;
    display: none;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top:45px;
}.dropdown-menu.remove-current{ display:block;}
.account .dropdown-menu{right:10px;width:165px;}
.pull-right .dropdown:hover .dropdown-link{border:1px solid #333;}
.dropdown-menu li {
    display: block;
}.dropdown-menu li {
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    padding: 0.5em 0;
}
.dropdown-menu li a {
    display: block;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
	line-height:20px;
    padding: 0.2em 1em;
	color:#333;
}.dropdown-menu li a:hover{ color:#666;background:#eee;}
.dropdown-menu li.last-item{
    border-bottom: 0 solid #2a2a2a;
}.dropdown{ margin-top:8px;}
.pull-right{ margin-right:10px;}
.pull-right .nav-icon-link.current .unread-count{ display:block;}
.submitwarning {background:#ff7007;color: #FFFFFF;font-size: 13px;height: 20px;line-height: 20px;padding: 0 4px;text-align: center; display:none; margin-left:14px;}
/*forget password*/
.logInWrap{ color:#333; margin-left:48px; margin-top:40px; padding-bottom:80px;}

.Recover {
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    margin: 20px 0 15px;
}
.password-recover {
    width: 640px;
}
.password-recover p {
    color: #333;
    margin: 0 0 25px;
}
.login-account-button {
    float: left;
}
.logInWrap .finput {
	background:#fff;
    border: 1px solid #999;
    height: 22px;
    line-height: 22px;
    outline: medium none;
    padding: 3px 4px;
    width: 356px;
}.b-buton {
    background: none repeat scroll 0 0 #6bc30d;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 30px;
}.login-account-button .login-button{ background:#ff5c00; padding:8px 50px;}
.login-account-button .login-button:hover{background-color:#e45707}

.sign-in-box-head {
    color: #000000;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.laskh label {
    display: block;
    padding: 0 0 3px;
}.green {
    color: #64b800 !important;
}.login-account-button .lidn-button{ background:#6BC30D; padding:8px 20px 8px 40px;}
.login-account-button .lidn-button:hover{background-color:#5fb108}
.xiugchengg {
    background: url("../images/okright.gif") no-repeat scroll 0 0;
    margin-top: 80px;
    padding-left: 76px;
}.logInWrap h2 {
    font-size: 24px;
    margin-bottom: 11px;
}.pcbwaylg{ margin-left:10px; padding-left:16px; border-left:1px solid #ccc; font-size:22px; font-weight:bold; font-family:"MuseoSans_Fat"; float:left; height:20px; line-height:20px; margin-top:22px;}
.yy-select{
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 190px;
	padding-top:4px;
	margin-left:5px;
}
.yy-selectlabel {
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 10px;
    width: auto;
}.yy-soi {
    background-position: -185px -658px;
    height: 9px;
    width: 9px;
}.yy-selectlabel .yy-soi {
    float: right;
    margin-top: 10px;
}.yy-selectlabeltxt {
    color: #626262;
    font-size: 14px;
    height: 100%;
    margin-right: 15px;
    width: auto;
}.yy-selectcontent{ border:#d2d2d2 1px solid; border-top:none; max-height:200px; overflow:auto; background:#fff; position:relative; z-index:2; display:none}.yy-selectcontent li{padding:6px 10px;}
.yy-selectcontent li:hover{background:#49f;}
.yy-selectcontent li:hover a{ color:#fff;}
.yy-selectcontent li.active{ background:#999;}
.yy-selectcontent li.active a{ color:#fff;}
.yy-selectcontent li a{ font-size:14px;color:#626262; width:100%; height:100%; display:block; line-height:16px; }
.yy-selectcontent li a:hover{color:#fff;}
.yy-selectcontent li a.active{color:#fff;}